{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'home.css' %}" type="text/css">
    <title>home</title>
</head>
<body>
    <a href="/mainapp/home/"><h1 style="margin: 10px; color: black;">Movie Listings @ GV Cinema</h1></a>
    <div>
        <form id="searchForm">
            <input type="text" id="searchMovies" name="searchMovies" placeholder="Search Movies..">
        </form>
    </div>
    <script>
        var searchForm = document.querySelector('#searchForm');
        var searchMovies = document.querySelector('#searchMovies');
        
        searchForm.addEventListener('submit', async function(event){
            event.preventDefault();
            
            let filter = searchMovies.value;
            var host = window.location.host;
            var protocol = window.location.protocol;
            var mainUrl = protocol + "//" + host + '/';
            var api_address =  mainUrl + "mainapp/home/search?name=" + filter
            const response = await fetch(api_address)
                .then(response => response.json())
                .then(data => {
                    if (!data) {
                        return;
                    }
                    const mainText = document.getElementById('messageText');
                    const popularText = document.getElementById('popularText');
                    const cardsContainer = document.getElementById('containerMovie');
                    cardsContainer.innerHTML = '';
                    
                    if (data.message !== undefined){
                        mainText.innerHTML = `<h2><i>${data.message}<i></h2>`
                        popularText.innerHTML = '';
                    } else {
                        mainText.innerHTML = `<h1>Search Results</h1>`
                        popularText.innerHTML = '';
                        data.movies.forEach(item => {
                            const card = createCardMovie(item);
                            cardsContainer.appendChild(card);
                        });
                    }
                })
                .catch(error => {
                    console.error(error);
                });
        });

        function createCardMovie(item) {
            const card = document.createElement('div');
            card.classList.add('movie-card');

            card.addEventListener('click', function() {
                viewMovieDetail(item.id);
            });
            
            card.innerHTML = `
                <img src="/staticfiles/${item.img_path}" alt="${item.name} poster">
                <div>
                    <h1 id='movie_name'>${item.name}</h1>
                    <p id="movie_duration">Duration: ${item.duration}</p>
                    <p id="user_rating">User Rating: ${item.user_rating}</p>
                </div>
            `;
            return card;
        }
        function viewMovieDetail(movieId){
            var host = window.location.host;
            var protocol = window.location.protocol;
            var mainUrl = protocol + "//" + host;
            window.location.href = `${mainUrl}/mainapp/${movieId}/detail/`; 
        }
    </script>
    <br>
    <div id="messageText" style="margin: 10px;"></div>
    <h1 id="popularText" style="margin: 10px;">Popular Movies</h1>
    <div id="containerMovie" class="container-movie">
        {% if movies and search_movie != True %}        
            {% for movie in movies %}
                <div class="movie-card" onclick="viewMovieDetail('{{movie.id}}')">
                    <img src="{% static movie.img_path %}" alt="{{movie.name}} poster">
                    <div>
                        <h1 id='movie_name'>{{movie.name}}</h1>
                        <p id="movie_duration">Duration: {{movie.duration}}</p>
                        <p id="user_rating">User Rating: {{movie.user_rating}}</p>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <h4><i>there aren't any movies yet</i></h4>
        {% endif %}
    </div>
</body>
</html>